/* HEADER */
.header {
  background-color: var(--bg-color);
  padding: 25px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.header-wrap {
  padding: 0 48px;
}
.header .header-logo-img {
  width: 48px;
  height: 48px;
}

.header .header-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--header-color);
}

.header .header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header .header-logo a:nth-child(2) {
  display: inline-block;
  font-weight: 700;
  font-size: 25.6px;
}

.header .header-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-menu-list li a {
  padding: 10.56px 22px;
  font-size: 17.6px;
  font-weight: 500;
}

.header .header-social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9.6px;
}
.header .header-social-list .social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.header .header-social-list .social-item {
  font-size: 22px;
}

.header .header-bars {
  display: none;
  font-size: 32px;
}

@media (max-width: 991.98px) {
  .header {
    padding: 8px;
  }
  .header-wrap {
    padding: 0 16px;
  }
  .header .header-menu,
  .header .header-social {
    display: none;
  }

  .header .header-bars {
    display: block;
  }
}

/* END HEADER */

/* SECTION-ONE */
.section-one {
  background-image: url(../assets/img/background1.jpg);
  position: relative;
  z-index: 0;
}
.section-one:after {
  content: "";
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.section-one .inner-wrap {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-one .inner-item {
  display: flex;
  width: 100%;
}

.section-one .section-heading {
  width: 100%;
}
.section-one .inner-item .btn-primary {
  font-size: 16px;
  background-color: transparent;
  border-color: #464646;
}

.section-one .inner-item .btn-primary:nth-child(1) {
  margin-left: 0;
  transition: all 0.3s ease-in-out;
}

.section-one .inner-item .btn-primary:nth-child(2) {
  margin-right: 0;
}

@media (max-width: 767.98px) {
  .section-one .section-heading {
    text-align: center;
  }

  .section-one .inner-item {
    justify-content: center;
  }
}

/* END SECTION-ONE */

/* SECTION-TWO */
.section-two {
  background-color: var(--bg-color);
  padding-top: 96px;
  padding-bottom: 128px;
}

.section-two .inner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-two .inner-image {
  width: 484px;
  height: 572px;
}

.section-two .inner-content {
  margin-left: 80px;
  flex: 1;
}
.section-two .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.section-two .inner-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 32px;
}

.section-two .inner-list .list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28.8px 48px;
}
.section-two .inner-list .list-item i {
  font-size: 38px;
  margin-bottom: 16px;
  color: #ff8484;
}

.section-two .inner-list .list-item span {
  font-size: 16px;
  font-weight: 700;
}

.section-two .heading-desc {
  max-width: 500px;
  margin-bottom: 16px;
}

.section-two .inner-content .btn-primary {
  margin-left: 0;
}

@media (max-width: 991.98px) {
  .section-two .inner-wrap {
    flex-direction: column;
    gap: 35px;
  }
  .section-two .inner-image {
    width: 690px;
    height: 815px;
  }

  .section-two .inner-content {
    margin-left: 0;
  }

  .section-two .heading-desc {
    max-width: 650px;
  }
}

@media (max-width: 767.98px) {
  .section-two .inner-image {
    width: 100%;
    height: 602px;
  }
  .section-two .inner-wrap {
    text-align: center;
  }
  .section-two .section-heading {
    max-width: 500px;
  }
  .section-two .inner-list {
    justify-content: center;
  }
}
/* END SECTION-TWO */

/* SECTION-THREE */
.section-three {
  padding-bottom: 100px;
}
.section-three .inner-wrap {
  display: flex;
  justify-content: space-between;
}

.section-three .section-heading {
  max-width: 600px;
  padding: 48px 0 48px 64px;
}

.section-three .heading-title {
  font-size: 60.8px;
  line-height: 1.1;
}
.section-three .inner-image {
  width: 260px;
  height: auto;
  margin-right: 50px;
  margin-top: -60px;
}

.section-three .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@media (max-width: 991.98px) {
  .section-three .inner-wrap {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .section-three .section-heading {
    width: 100%;
    padding-bottom: 24px;
  }
  .section-three .heading-title {
    font-size: 48.64px;
  }

  .section-three .inner-image {
    align-self: center;
    margin: 0;
    width: 330px;
    margin-bottom: -5px;
  }
}
/* END SECTION-THREE */

/* SECTION-FOUR */
.section-four {
  padding: 80px 0;
  background-color: #fff;
}

.section-four .heading-desc {
  margin-bottom: 32px;
}
.section-four .heading-title {
  font-size: 25.6px;
  margin-bottom: 18px;
}

.section-four .inner-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.section-four .inner-item {
  margin-bottom: 18px;
  width: calc(100% / 3);
}

.section-four .inner-item .item-check i {
  display: inline-block;
  border-radius: 100px;
  background-color: var(--bg-color);
  padding: 12px;
}

.section-four .inner-item .item-check span {
  display: inline-block;
  color: var(--text-color);
  font-size: 17.6px;
  padding-left: 16px;
}

@media (max-width: 991.98px) {
  .section-four .inner-item {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .section-four .heading-title {
    text-align: center;
  }
  .section-four .heading-desc {
    text-align: center;
  }
}

/* END SECTION-FOUR */

/* SECTION-FIVE */
.section-five {
  padding: 64px 0;
}

.section-five .section-heading {
  margin-bottom: 40px;
  text-align: center;
}
.section-five .inner-wrap {
  display: flex;
  justify-content: space-between;
}

.section-five .inner-item {
  width: calc(100% / 3 - 20px);
  overflow: hidden;
}

.section-five .inner-image {
  width: 100%;
  height: 225px;
}

.section-five .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section-five .inner-content {
  position: relative;
  padding: 32px 0 32px 40px;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section-five .inner-content .inner-category {
  color: var(--text-color);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 14px;
}

.section-five .inner-content .inner-name {
  color: var(--btn-primary-color);
  font-size: 25.6px;
  font-weight: 700;
  margin-bottom: 8px;
}

.section-five .inner-item .inner-arrow {
  background-color: #fff;
  position: absolute;
  top: calc(-59.25px / 2);
  right: 30px;
  box-shadow: 0px 16px 32px 0px #0000000a;
  border-radius: 10px;
}

.section-five .inner-item .inner-arrow i {
  font-size: 22px;
  padding: 20px;
}

@media (max-width: 991.98px) {
  .section-five .inner-wrap {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .section-five .inner-item {
    width: calc(50% - 30px);
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .section-five .inner-item {
    width: 100%;
  }
}
/* END SECTION-FIVE */

/* SECTION-SIX */
.section-six {
  background-color: var(--btn-primary-color);
  padding: 128px 0;
}

.section-six .inner-wrap {
  padding: 64px 79px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.section-six .heading-title {
  font-size: 60.8px;
  max-width: 542px;
}

.section-six .inner-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 16px;
}

.section-six .inner-list .list-item {
  display: flex;
  padding: 20px 32px;
  border: 1px solid #efefef;
  border-radius: 10px;
  color: var(--text-color);
  font-size: 17.6px;
}

.section-six .list-item {
  display: flex;
  justify-content: space-between;
}

.section-six .list-item .item-icon {
  display: flex;
  align-items: center;
  gap: 16px;
}

.section-six .list-item .item-icon i {
  font-size: 24px;
}

@media (max-width: 991.98px) {
  .section-six .inner-wrap {
    flex-direction: column;
  }
  .section-six .heading-title {
    font-size: 48.64px;
    margin-bottom: 6px;
  }
}
/* END SECTION-SIX */

/* SECTION-SEVEN */
.section-seven {
  padding-top: 80px;
}
.section-seven .section-heading {
  text-align: center;
  margin-bottom: 56px;
}
.section-seven .heading-title {
  font-size: 60.8px;
}

.section-seven .inner-wrap {
  display: flex;
  gap: 30px;
}

.section-seven .inner-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(25% - 90px / 4);
  background-color: #fff;
  padding: 48px 51.5px 0 51.5px;
  border-radius: 10px;
}
.section-seven .item-avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 32px;
}

.section-seven .item-name {
  width: 200px;
  font-size: 25.6px;
  font-weight: 700;
  color: var(--btn-primary-color);
  margin-bottom: 6px;
  text-align: center;
}

.section-seven .item-role {
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 48px;
}

.section-seven .item-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}

.section-seven .item-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.section-seven .item-list .item-social {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41.6px;
  height: 41.6px;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  font-size: 17px;
}

@media (max-width: 991.98px) {
  .section-seven .inner-wrap {
    flex-wrap: wrap;
  }

  .section-seven .inner-item {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
  .section-seven .item-avatar {
  }
}

@media (max-width: 575.98px) {
  .section-seven .inner-item {
    width: 100%;
    margin-bottom: 0;
  }
}
/* END SECTION-SEVEN */

/* SECTION-EIGHT */
.section-eight {
  padding: 80px 0;
}
.section-eight .inner-image {
  height: 500px;
}

.section-eight .inner-image img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.section-eight .inner-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: -55px;
  margin-right: 55.5px;
  margin-left: 55.5px;
  padding: 16px 46px;
}

.section-eight .inner-list {
  display: flex;
  margin-top: 9.6px;
  gap: 30px;
}

.section-eight .inner-category {
  color: var(--text-color);
  font-size: 17.6px;
  margin-bottom: 16px;
}

.section-eight .inner-name {
  font-size: 17.6px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .section-eight .inner-wrap {
    flex-direction: column;
    padding: 32px;
  }
  .section-eight .inner-list {
    flex-wrap: wrap;
    width: 100%;
  }

  .section-eight .inner-item {
    justify-content: center;
    align-items: center;
    margin-right: 150px;
  }

  .section-eight .inner-button {
    margin-top: 18px;
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  .section-eight .inner-wrap {
    align-items: center;
  }
  .section-eight .inner-item {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
  .section-eight .inner-button {
    margin-right: 0;
  }
}

/* END SECTION-EIGHT */

/* SECTION-NINE */
.section-nine {
  background-color: #31363b;
  padding: 80px 0 112px 0;
}

.section-nine .heading-name {
  color: #bbbbbb;
}
.section-nine .heading-title {
  color: #fff;
  margin-bottom: 48px;
}

.section-nine .inner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.section-nine .inner-item {
  position: relative;
  background-color: #fff;
  padding: 40px;
  width: calc(100% / 3 - 64px / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.section-nine .inner-icon {
  position: absolute;
  font-size: 60px;
  color: var(--text-color);
  bottom: 30%;
  right: 40px;
}

.section-nine .inner-item .inner-para {
  color: var(--text-color);
  font-size: 25.6px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 40px;
}

.section-nine .inner-member {
  display: flex;
  align-items: center;
  gap: 16px;
}
.section-nine .inner-member .member-image {
  width: 65px;
  height: 65px;
}

.section-nine .inner-member .member-image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.section-nine .member-info {
  display: flex;
  flex-direction: column;
}

.section-nine .member-name {
  font-size: 25.6px;
  font-weight: 700;
  color: #31363b;
  margin-bottom: 10px;
}

.section-nine .member-role {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 991.98px) {
  .section-nine .inner-item {
    width: calc(50% - 32px / 2);
  }
}

@media (max-width: 767.98px) {
  .section-nine .inner-item {
    padding: 32px 16px;
  }
  .section-nine .inner-para {
    text-align: center;
  }
  .section-nine .inner-member {
    gap: 30px;
  }
  .section-nine .member-info {
    max-width: 100px;
    align-items: center;
  }

  .section-nine .inner-icon {
    font-size: 40px;
    right: 16px;
  }
}
@media (max-width: 575.98px) {
  .section-nine .inner-item .inner-para,
  .section-nine .member-name {
    font-size: 22.2px;
  }
  .section-nine .inner-item {
    width: 100%;
  }
  .section-nine .member-info {
    max-width: 200px;
  }
  .section-nine .inner-member {
    gap: 20px;
  }
}
/* END SECTION-NINE */

/* SECTION-TEN */
.section-ten {
  padding: 80px 0 112px 0;
  background-color: #dce8eb;
}

.section-ten .heading-title {
  text-align: center;
}

.section-ten .inner-video {
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.section-ten .inner-video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-ten .inner-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section-ten .inner-button-play {
  width: 120px;
  height: 120px;
  border-radius: 100rem;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: var(--btn-primary-color);
  cursor: pointer;
  position: relative;
}

.section-ten .inner-video .inner-button-play::before {
  content: "";
  display: inline-block;
  width: 120px;
  height: 120px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  animation-duration: 1s;
  animation-name: icons;
  animation-iteration-count: infinite;
}

@keyframes icons {
  from {
    transform: scale(1);
    opacity: 0.8;
  }

  to {
    transform: scale(1.2);
    opacity: 0;
  }
}

@media (max-width: 575.98px) {
  .section-ten .inner-video .inner-button-play {
    width: 80px;
    height: 80px;
    font-size: 20px;
  }

  .section-ten .inner-video .inner-button-play::before {
    width: 80px;
    height: 80px;
  }
}
/* END SECTION-TEN */

/* SECTION-ELEVEN */
.section-eleven {
  padding: 90px 0 120px 0;
  background-color: #fff;
}

.section-eleven .section-heading {
  padding-left: 16px;
  margin-bottom: 48px;
}
.section-eleven .inner-wrap {
  padding: 96px 64px;
  background-color: #dce8eb;
  border-radius: 10px;
}

.section-eleven .inner-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-eleven .row-one {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.section-eleven .row-one input {
  width: calc(100% / 3 - 20px / 3);
}
.section-eleven .row-one input,
.section-eleven .row-two textarea {
  padding: 18px 24px;
  border-radius: 10px;
}

.section-eleven .row-two textarea {
  width: 100%;
}

.section-eleven .btn-primary {
  margin: 0;
}
.section-eleven .inner-submit {
  align-self: flex-end;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .section-eleven .row-one {
    gap: 20px;
  }
  .section-eleven .row-one input {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .section-eleven .inner-wrap {
    padding: 48px 16px;
  }
  .section-eleven .section-heading {
    text-align: center;
  }
}
/* END SECTION-ELEVEN */

/* SECTION-TWELVE */
.section-twelve iframe {
  width: 100%;
}
/* END SECTION-TWELVE */

/* FOOTER */
.footer {
  padding: 30px 0;
  background-color: #14191e;
  font-size: 17.6px;
  color: #fff;
  text-align: center;
  line-height: 24px;
}

/* END FOOTER */
